<div class="notification-tooltip">

    <div class="">
        <button type="button" id="notification-popover" (click)="showNotifications()" class="btn btn-iconic-secondary mr-2 p-0 active"><img
                class="img-26px" src="assets/images/notifications.svg" alt=""></button>
    </div>
    <dx-popover target="#notification-popover" position="top" [width]="300" [shading]="true" shadingColor="rgba(0, 0, 0, 0.1)"
        [(visible)]="show">
        <div *dxTemplate="let data of 'content'">
            <div class="section-label">Notification</div>
            <ul class="notification-list notification-list-tooltip list-unstyled label-value-list">
                    <perfect-scrollbar>
                <li>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="label">Documents rejected</span>
                    </div>
                    <p>544 documents in rejected queue for more than 24 hours 544 documents in rejected queue for more
                        than 24 hours</p>
                </li>

                <li>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="label">Documents rejected</span>
                    </div>
                    <p>544 documents in rejected queue for more than 24 hours 544 documents in rejected queue for more
                        than 24 hours</p>
                </li>
                <li>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="label">Documents rejected</span>
                    </div>
                    <p>544 documents in rejected queue for more than 24 hours 544 documents in rejected queue for more
                        than 24 hours</p>
                </li>
                <li>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="label">Documents rejected</span>
                    </div>
                    <p>544 documents in rejected queue for more than 24 hours 544 documents in rejected queue for more
                        than 24 hours</p>
                </li>
                <li>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="label">Documents rejected</span>
                    </div>
                    <p>544 documents in rejected queue for more than 24 hours 544 documents in rejected queue for more
                        than 24 hours</p>
                </li>
                <li>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="label">Documents rejected</span>
                    </div>
                    <p>544 documents in rejected queue for more than 24 hours 544 documents in rejected queue for more
                        than 24 hours</p>
                </li>
                <li>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="label">Documents rejected</span>
                    </div>
                    <p>544 documents in rejected queue for more than 24 hours 544 documents in rejected queue for more
                        than 24 hours</p>
                </li>
                <li>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="label">Documents rejected</span>
                    </div>
                    <p>544 documents in rejected queue for more than 24 hours 544 documents in rejected queue for more
                        than 24 hours</p>
                </li>
                <li>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="label">Documents rejected</span>
                    </div>
                    <p>544 documents in rejected queue for more than 24 hours 544 documents in rejected queue for more
                        than 24 hours</p>
                </li>
            </perfect-scrollbar>
            </ul>
           
        </div>
    </dx-popover>

</div>