<div class="notification-tooltip">

    <div class="">
        <button type="button" id="notification-popover" title="Hot Keys" (click)="showHotKeys()" class="btn btn-iconic-secondary mr-3 p-0 active">
            <img class="img-26px" src="assets/images/hotkeys.png" alt="">
        </button>
    </div>


</div>



<div class="hot-keys-overlay">

    <div class="table-wrapper table-wrapper-card">
        <!-- <perfect-scrollbar> -->
        <perfect-scrollbar style="height:100vh; border-radius: 6px;">
            <table class="custom-table sticky-header table-bordered">
                <thead>
                    <tr>
                        <th>
                            HotKey
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            Ctrl+Alt+D
                        </td>
                        <td>
                            Discard Button
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Alt+S
                        </td>
                        <td>
                            Save Button
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Page Up
                        </td>
                        <td>
                            Scroll Up the document
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Page Down
                        </td>
                        <td>
                            Scroll Down the document
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ctrl+Alt+F
                        </td>
                        <td>
                            Go to Field Tab
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ctrl+Alt+T
                        </td>
                        <td>
                            Go to Table Tab
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Alt+C
                        </td>
                        <td>
                            Cancel Button
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Alt+V
                        </td>
                        <td>
                            Forward to Veto Button
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Alt+Q
                        </td>
                        <td>
                            QC Save Button
                        </td>
                    </tr>
                    <tr>
                        <td>
                            HOME Key
                        </td>
                        <td>
                            Go to First page of document
                        </td>
                    </tr>
                    <tr>
                        <td>
                            END Key
                        </td>
                        <td>
                            Go to Last page of document
                        </td>
                    </tr>
                    <tr>
                        <td>
                            LEFT_ARROW key
                        </td>
                        <td>
                            Go to Previous page of document
                        </td>
                    </tr>
                    <tr>
                        <td>
                            RIGHT_ARROW key
                        </td>
                        <td>
                            Go to Next page of document
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Alt+I
                        </td>
                        <td>
                            Zoom In document
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Alt+O
                        </td>
                        <td>
                            Zoom Out document page
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Alt+P
                        </td>
                        <td>
                            Fit to Page
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Alt+W
                        </td>
                        <td>
                            Fit to Width
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Alt+A
                        </td>
                        <td>
                            Actual Size
                        </td>
                    </tr>

                </tbody>
            </table>
        </perfect-scrollbar>
        <!-- </perfect-scrollbar> -->
    </div>
</div>