<div class="page-heading">
    <h1>User Management</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="tab-panel">
            <ul class="tab-panel-header">
                <li>
                    <a [ngClass]="{'active': showTabContent == item}" (click)="activateTabContent(item)"
                        *ngFor="let item of smeTabs">
                        <span class="label">{{item}}</span>
                    </a>
                </li>
            </ul>
            <div class="tab-panel-body p-0">
                <div *ngIf="showTabContent == 'Users'">
                    <div class="table-wrapper table-wrapper-card">
                        <div class="grid-buttons p-20">
                            <dx-button *ngIf='(addBtn == true)  && (Authorize.toAdd)' (click)="customAddpopup()"
                                class="btn btn-primary" text="Add"></dx-button>
                            <dx-button *ngIf='(editBtn == true) && (Authorize.toUpdate)' (click)="customAddpopup()"
                                class="btn btn-primary" text="Edit" (onClick)="edit();"></dx-button>
                            <dx-button *ngIf='(deleteBtn  == true) && (Authorize.toDelete)' (click)="deleteRecords()"
                                class="btn btn-secondary" [text]="usertext"></dx-button>
                        </div>
                        <dx-data-grid #dataGrid [dataSource]="users" [showRowLines]="false" showBorders='true'
                            (onSelectionChanged)="onSelectionChangedUser($event)" *ngIf="Authorize.toView">
                            <dxo-selection mode="multiple" [showCheckBoxesMode]="'always'"></dxo-selection>
                            <dxo-search-panel [visible]="true" [width]="315" placeholder="Search">
                            </dxo-search-panel>
                            <dxo-header-filter [allowSearch]="true" [visible]="true"></dxo-header-filter>
                            <dxo-paging [enabled]="false"></dxo-paging>
                            <dxo-scrolling mode="infinite"></dxo-scrolling>
                            <dxi-column [allowSorting]="true" dataField="Name" caption="Username"></dxi-column>
                            <dxi-column [allowSorting]="true" dataField="FullName" caption="Full name"></dxi-column>
                            <dxi-column [allowSorting]="true" dataField="RoleName" caption="Role"></dxi-column>
                            <dxi-column [allowSorting]="true" dataField="EmailId" caption="Email ID"></dxi-column>
                            <dxi-column [allowSorting]="true" dataField="MobileNo" caption="Mobile"></dxi-column>
                            <dxi-column [allowHeaderFiltering]="false" dataField="IsEnabled" caption="Status"
                                [visible]="true" cellTemplate="statusTemplate" alignment="left">
                            </dxi-column>
                            <div *dxTemplate="let statusItem of 'statusTemplate'">
                                <span class="toggle">
                                    <dx-switch [value]='statusItem.data.IsEnabled' #rowjobstatus
                                        (click)="UpdateSingleStatus(rowjobstatus.value, statusItem.data)"
                                        [disabled]="statusItem.data.Id==1 || statusItem.data.Id==loggedinUserCode ">
                                    </dx-switch>
                                </span>
                            </div>
                        </dx-data-grid>
                    </div>
                </div>

                <div *ngIf="showTabContent == 'Roles'">
                    <div class="table-wrapper table-wrapper-card">
                        <div class="grid-buttons p-20">
                            <dx-button *ngIf='(addBtn == true)  && (Authorize.toAdd)' (click)="customAddPopup()"
                                class="btn btn-primary" text="Add"></dx-button>
                            <dx-button *ngIf='(editBtn == true) && (Authorize.toUpdate)' (click)="customAddPopup()"
                                class="btn btn-primary" text="Edit" (onClick)="Edit();"></dx-button>
                            <dx-button *ngIf='(deleteBtn  == true) &&  (Authorize.toDelete)' (click)="deletedrole()"
                                class="btn btn-secondary" [text]="roletext"></dx-button>
                        </div>
                        <dx-data-grid #dataGrids [dataSource]="roles" [showRowLines]="false" showBorders='true'
                            (onSelectionChanged)="onSelectionChanged($event)" *ngIf="Authorize.toView">
                            <dxo-selection mode="multiple" [showCheckBoxesMode]="'always'"></dxo-selection>
                            <dxo-search-panel [visible]="true" [width]="315" placeholder="Search">
                            </dxo-search-panel>
                            <dxo-header-filter [allowSearch]="true" [visible]="true"></dxo-header-filter>
                            <dxo-paging [enabled]="false"></dxo-paging>
                            <dxo-scrolling mode="infinite"></dxo-scrolling>
                            <dxi-column dataField="Id" caption="ID" [visible]="false"></dxi-column>
                            <dxi-column dataField="Name" caption="Role" [width]="400"></dxi-column>
                            <dxi-column [allowHeaderFiltering]="false" dataField="IsActive" caption="Status"
                                [visible]="true" cellTemplate="statusTemplate" alignment="left">
                            </dxi-column>
                            <div *dxTemplate="let statusItem of 'statusTemplate'">
                                <span class="toggle">
                                    <dx-switch [value]='statusItem.data.IsActive' #rowjobstatus
                                        (click)="UpdateSinglestatus(rowjobstatus.value, statusItem.data)"
                                        [disabled]="statusItem.data.Id==1  ">
                                    </dx-switch>
                                </span>
                            </div>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<dx-popup class="custom-popup height-auto no-fixed-footer" width="550" height="auto" [showTitle]="true"
    title="{{(model.Id == 0)?'Add User':'Edit User'}}" [dragEnabled]="false" [closeOnOutsideClick]="false"
    [(visible)]="addInputSourcePopop" [showCloseButton]="false">
    <div class="step-wizard">
        <dx-validation-group #valGroup>
            <form id="editForms">
                <div class="tab-panel-body">
                    <!-- <perfect-scrollbar> -->
                    <div class="row">
                        <div class="col-md-12">
                            <form class="h-100-per" action="your-actions" (ngSubmit)="save($event)">
                                <div class="dx-fieldset">
                                    <div class="row h-100-per">
                                        <div class="col-sm-6">
                                            <div>
                                                <div class="dx-field">
                                                    <div class="dx-field-label">Search AD User</div>
                                                    <div class="dx-field-value">
                                                        <dx-autocomplete #dxUserSerach id="dxUserSerach"
                                                            [dataSource]="searchResult" [(value)]="varuser"
                                                            valueExpr="userid" [maxLength]="50"
                                                            placeholder="Search name" [minSearchLength]="3"
                                                            (onValueChanged)="search($event)"
                                                            (onItemClick)="onItemClick($event)" itemTemplate="full"
                                                            [disabled]="model.Id > 0" [showClearButton]="true">
                                                            <div *dxTemplate="let itemObj of 'full'">
                                                                <p>
                                                                    <b>{{itemObj.firstName}}</b> &nbsp;
                                                                    <b>{{itemObj.lastName}}</b>
                                                                </p>
                                                            </div>
                                                        </dx-autocomplete>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="dx-field" style="margin-left: 90px; margin-top: 20px;">
                                                <div class="dx-field-label"></div>
                                                <div class="dx-field-value">
                                                    <div class="toggle">
                                                        <span class="mr-10"> Status</span>
                                                        <dx-switch [(value)]="model.IsEnabled"
                                                            [disabled]="model.Id==1 || model.Id==loggedinUserCode">
                                                        </dx-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="dx-field">
                                                <div class="dx-field-label">Username <span class="text-danger">*</span>
                                                </div>
                                                <div class="dx-field-value">
                                                    <dx-text-box id="musername" #musername [(value)]="model.Name"
                                                        [disabled]="isAdUser || model.IsAduser==true ">
                                                        <dx-validator>
                                                            <dxi-validation-rule type="required"
                                                                message="Username is required"></dxi-validation-rule>
                                                            <dxi-validation-rule type="stringLength" [min]="2"
                                                                [max]="256"
                                                                message="Username must have at least 2 and maximum 256 characters.">
                                                            </dxi-validation-rule>
                                                            <dxi-validation-rule type="pattern"
                                                                pattern="^[A-Za-z0-9. _-]+$"
                                                                message="Only Dot,Dash and Underscore special characters are allowed">
                                                            </dxi-validation-rule>
                                                        </dx-validator>
                                                    </dx-text-box>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="dx-field">
                                                <div class="dx-field-label">Full Name<span class="text-danger">*</span>
                                                </div>
                                                <div class="dx-field-value">
                                                    <dx-text-box [(value)]="model.FullName" [maxLength]="252">
                                                        <dx-validator>
                                                            <dxi-validation-rule type="required"
                                                                message="Full Name is required"></dxi-validation-rule>
                                                            <dxi-validation-rule type="stringLength" [min]="2"
                                                                [max]="256"
                                                                message="Full Name must have at least 2 and maximum 256 characters.">
                                                            </dxi-validation-rule>
                                                            <dxi-validation-rule type="pattern" pattern="^[A-Za-z]"
                                                                message="Special characters are not allowed">
                                                            </dxi-validation-rule>
                                                        </dx-validator>
                                                    </dx-text-box>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="dx-field">
                                                <div class="dx-field-label">Email ID <span class="text-danger">*</span>
                                                </div>
                                                <div class="dx-field-value">
                                                    <dx-text-box [(value)]="model.EmailId" [maxLength]="252">
                                                        <dx-validator>
                                                            <dxi-validation-rule type="required"
                                                                message="Email Id is required"></dxi-validation-rule>
                                                            <dxi-validation-rule type="email"
                                                                message="Email Id is invalid"></dxi-validation-rule>
                                                        </dx-validator>
                                                    </dx-text-box>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="dx-field">
                                                <div class="dx-field-label">Mobile Number <span class="text-danger">*</span>
                                                </div>
                                                <div class="dx-field-value">
                                                    <dx-text-box [(value)]="model.MobileNo" [maxLength]="15">
                                                        <dx-validator>
                                                            <dxi-validation-rule type="required"
                                                                message="Mobile number is required">
                                                            </dxi-validation-rule>
                                                            <dxi-validation-rule type="pattern" [pattern]="phonePattern"
                                                                message="Invalid Mobile number."></dxi-validation-rule>
                                                        </dx-validator>
                                                    </dx-text-box>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="dx-fieldset dx-fieldset-horizontal">
                                                <div class="dx-field mr-0">
                                                    <div class="dx-field-label">Role <span class="text-danger">*</span>
                                                    </div>
                                                    <div class="dx-field-value">
                                                        <dx-tag-box [items]="rol" valueExpr="Name" displayExpr="Name"
                                                            [(value)]="model.SelectedRoles"
                                                            [showSelectionControls]="true">
                                                            <dx-validator>
                                                                <dxi-validation-rule type="required"
                                                                    message="Role required">
                                                                </dxi-validation-rule>
                                                            </dx-validator>
                                                        </dx-tag-box>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="custom-popup-footer">
                                    <dx-button class="btn btn-secondary" text="Cancel" (onClick)="cancel()">
                                    </dx-button>
                                    <dx-button class="btn btn-primary" text="Save" [useSubmitBehavior]="true">
                                    </dx-button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- </perfect-scrollbar> -->
                </div>
            </form>
        </dx-validation-group>
    </div>
</dx-popup>

<dx-popup class="custom-popup height-auto no-fixed-footer" width="560px" height="auto" [showTitle]="true"
    title="{{(models.Id == 0)?'Add Role':'Edit Role'}}" [dragEnabled]="false" [closeOnOutsideClick]="false"
    [(visible)]="openEditorPopUp" [showCloseButton]="false">
    <div class="step-wizard">
        <dx-validation-group #valGroups>
            <form id="editForm">
                <div class="tab-panel-body">
                    <!-- <perfect-scrollbar> -->
                    <div class="row">
                        <div class="col-md-12">
                            <form class="h-100-per" action="your-action" (ngSubmit)="saverole(models)">
                                <div class="dx-fieldset">
                                    <div class="row h-100-per">

                                        <div class="col-sm-6">
                                            <div class="dx-field">
                                                <div class="dx-field-label">Name<span class="text-danger">*</span></div>
                                                <div class="dx-field-value">
                                                    <dx-text-box id="musername" #musername [(value)]="models.Name">
                                                        <dx-validator>
                                                            <dxi-validation-rule type="required"
                                                                message="Role Name required"></dxi-validation-rule>
                                                            <dxi-validation-rule type="stringLength" [min]="2"
                                                                [max]="50"
                                                                message="Role Name must have at least 2 and maximum 50 characters.">
                                                            </dxi-validation-rule>
                                                            <dxi-validation-rule type="pattern"
                                                                pattern="^[A-Za-z0-9. _-]+$"
                                                                message="Only Dot,Dash and Underscore special characters are allowed">
                                                            </dxi-validation-rule>
                                                        </dx-validator>
                                                    </dx-text-box>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="dx-field" style="margin-left: 90px; margin-top: 18px;">
                                                <div class="dx-field-label"></div>
                                                <div class="dx-field-value">
                                                    <div class="toggle">
                                                        <span class="mr-10"> Status</span>
                                                        <dx-switch [(value)]="models.IsActive"
                                                            [disabled]="models.Id==1  ">
                                                        </dx-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <!-- <perfect-scrollbar > -->
                                        <dx-accordion class="panel-h-auto user-accordian" #accordion
                                            [dataSource]="fieldTab" [collapsible]="false" [multiple]="false"
                                            [animationDuration]="300" [selectedItems]="[fieldTab[0]]">
                                            <div *dxTemplate="let company of 'item'" style="padding: 0px;">
                                                <perfect-scrollbar style="height:285px;">
                                                    <div class="table-wrapper table-wrapper-card" style="width: 520px;">
                                                        <div>
                                                            <table class="custom-table" style="margin-top: 55px;">
                                                                <thead
                                                                    style=" background-color: #fff; position: fixed; width: 520px; z-index: 1; top: 148px;">
                                                                    <tr>
                                                                        <th width="42%">Permissions <span
                                                                                class="text-danger">*</span></th>

                                                                        <th class="text-center" scope="col">
                                                                            <div style="margin-left: -30px;">Add
                                                                            </div>
                                                                            <input type="checkbox" name="addAll"
                                                                                [checked]="addAll"
                                                                                (change)="handleAddAll(models)"
                                                                                class="regular-checkbox "
                                                                                style="margin-left: 3px;" />
                                                                        </th>

                                                                        <th width="8%" class="text-center" scope="col">
                                                                            <div style="margin-left: -12px;">Edit
                                                                            </div>
                                                                            <input type="checkbox" name="modifyAll"
                                                                                [checked]="modifyAll"
                                                                                (change)="handleModifyAll(models)"
                                                                                class="regular-checkbox"
                                                                                style="margin-left: 1px;" />
                                                                        </th>

                                                                        <th class="text-center" scope="col">
                                                                            <div style="margin-left: -18px;">Delete
                                                                            </div>
                                                                            <input type="checkbox" name="deleteAll"
                                                                                [checked]="deleteAll"
                                                                                (change)="handleDeleteAll(models)"
                                                                                class="regular-checkbox"
                                                                                style="margin-left: 22px;" />
                                                                        </th>

                                                                        <th class="text-center" scope="col">
                                                                            <div style="margin-left: -36px;">View</div>
                                                                            <input type="checkbox" name="viewAll"
                                                                                [checked]="viewAll"
                                                                                (change)="handleViewAll(models,i, $event)"
                                                                                class="regular-checkbox"
                                                                                style="margin-left:-2px;" />
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr
                                                                        *ngFor="let permission of permissions; let i = index">

                                                                        <td>{{permission.DisplayName}}</td>

                                                                        <td class="text-center" scope="col">
                                                                            <input type="checkbox" name="add"
                                                                                [checked]="permission.add || addAll"
                                                                                (change)="
                                                permission.add = !permission.add;
                                                checkPermission(permission, i, $event);                         
                                                " class="regular-checkbox" />
                                                                        </td>

                                                                        <td class="text-center" scope="col">
                                                                            <input type="checkbox" name="update"
                                                                                [checked]="permission.update || modifyAll"
                                                                                (change)="
                                                permission.update = !permission.update;
                                                checkPermission(permission, i, $event);                          
                                                " class="regular-checkbox" />
                                                                        </td>

                                                                        <td class="text-center" scope="col">
                                                                            <input type="checkbox" name="delete"
                                                                                [checked]="permission.delete || deleteAll"
                                                                                (change)="
                                                permission.delete = !permission.delete;
                                                checkPermission(permission, i, $event);                          
                                                " class="regular-checkbox" />
                                                                        </td>

                                                                        <td class="text-center" scope="col">
                                                                            <input type="checkbox" name="view"
                                                                                [checked]="permission.view || viewAll"
                                                                                (change)="
                                                permission.view = !permission.view; 
                                                checkPermission(permission, i, $event);                          
                                                " class="regular-checkbox" />
                                                                        </td>

                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </perfect-scrollbar>
                                            </div>
                                        </dx-accordion>
                                        <!-- </perfect-scrollbar> -->
                                    </div>
                                </div>
                                <br />

                                <div class="custom-popup-footer">
                                    <dx-button class="btn btn-secondary" text="Cancel" (onClick)="Cancel()">
                                    </dx-button>
                                    <dx-button class="btn btn-primary" text="Save" [useSubmitBehavior]="true">
                                    </dx-button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- </perfect-scrollbar> -->
                </div>
            </form>
        </dx-validation-group>
    </div>
</dx-popup>

<div class="custom-overlay" *ngIf='deleteModal'>
    <div class="custom-popup confirmation-popup">
        <div class="custom-popup-body">
            <h6>{{userstatus}}</h6>
            <p>{{userstatuss}}</p>
        </div>
        <div class="custom-popup-footer">
            <dx-button class="btn btn-secondary" text="Cancel" (click)="deleteModal = false"></dx-button>
            <dx-button class="btn btn-primary" [text]="usertext" (click)="delete()"></dx-button>
        </div>
    </div>
</div>

<div class="custom-overlay" *ngIf='deleteModals'>
    <div class="custom-popup confirmation-popup">
        <div class="custom-popup-body">
            <h6>{{userstatus}}</h6>
            <p>{{userstatuss}}</p>
        </div>
        <div class="custom-popup-footer">
            <dx-button class="btn btn-secondary" text="Cancel" (click)="deleteModals = false"></dx-button>
            <dx-button class="btn btn-primary" [text]="roletext" (click)="deleterole()"></dx-button>
        </div>
    </div>
</div>