<div class="page-heading">
    <h1>Mails</h1>
</div>

<div class="table-wrapper table-wrapper-card">
    <div class="grid-buttons p-20">
        <dx-button *ngIf='(addBtn == true) && (Authorize.toAdd)' (click)="addPopup()" class="btn btn-primary"
            text="Add"></dx-button>
        <dx-button *ngIf='(editBtn == true) && (Authorize.toUpdate)' (click)="addPopup()" class="btn btn-primary"
            text="Edit" (onClick)="edit();"></dx-button>
        <dx-button *ngIf='(deleteBtn == true) && (Authorize.toDelete)' (click)="deleteRecords()"
            class="btn btn-secondary" text="Delete"></dx-button>
    </div>

    <dx-data-grid class="page-table" [(dataSource)]="smtps" [showRowLines]="false" showBorders='true' (onSelectionChanged)="onSelectionChanged($event)" *ngIf="Authorize.toView">
        <!--Table columns start-->
        <dxo-selection mode="multiple" [showCheckBoxesMode]="'always'"></dxo-selection>

        <!--Table filters-->
        <dxo-search-panel [visible]="true" [width]="315" placeholder="Search"></dxo-search-panel>
        <dxo-header-filter [allowSearch]="false" [visible]="true"></dxo-header-filter>
        <dxo-paging [enabled]="false"></dxo-paging>
        <dxo-scrolling mode="infinite"></dxo-scrolling>
        <!-- <dxo-editing mode="row" [allowUpdating]="false" [allowDeleting]="false" [allowAdding]="false"></dxo-editing>   -->

        <!--Customized column for Server-->
        <dxi-column [allowHeaderFiltering]="true" [allowSorting]="true" dataField="smtpserver" caption="Server"></dxi-column>

        <!--Customized column for Port-->
        <dxi-column [allowHeaderFiltering]="true" cssClass="text-left" [allowSorting]="true" [width]="150" dataField="port" caption="Port"></dxi-column>
    
        <!--Customized column for Is SSL-->
        <dxi-column [allowHeaderFiltering]="false" [allowSorting]="true" dataField="isSsl" [width]="150" caption="Is SSL" cellTemplate="statusTemplate"></dxi-column>
        <div *dxTemplate="let statusItem1 of 'statusTemplate'">
            <span class="toggle1">
                <dx-switch #rowjobstatus [value]='statusItem1.data.isSsl' (click)="isSSLUpdate(rowjobstatus.value, statusItem.data)"></dx-switch>
            </span>
        </div>
        

         <!--Customized column for User name-->
        <dxi-column [allowHeaderFiltering]="true" [allowSorting]="true" [width]="200" dataField="userName" caption="User name"></dxi-column>

        <!--Customized column for Is Default-->
        <dxi-column [allowHeaderFiltering]="false" [allowSorting]="true" dataField="isDefault" [width]="150" caption="Is Default" cellTemplate="isDefaultstatusTemplate"></dxi-column>
        <div *dxTemplate="let statusItem of 'isDefaultstatusTemplate'">
            <span class="toggle">
                <dx-switch #rowjobstatus [value]='statusItem.data.isDefault' (click)="isDefaultUpdate(rowjobstatus.value, statusItem.data)"></dx-switch>
            </span>
        </div>

        <!--Customized column for Attach limit-->
        <!-- <dxi-column [allowHeaderFiltering]="true" [allowSorting]="true" cssClass="text-left" [width]="150"
            dataField="fileAttachLimit" caption="Attach limit">
        </dxi-column> -->

        <!--Customized column for Email-->
        <dxi-column [allowHeaderFiltering]="true" [allowSorting]="true" dataField="fromMailId" caption="Email"></dxi-column>

    </dx-data-grid>
</div>

<dx-popup class="custom-popup" width="850px" height="600px" [showTitle]="true"
    title="{{(SmtpField.id === 0)?'Add Mail Details':'Edit Mail Details'}}" [dragEnabled]="false"
    [closeOnOutsideClick]="false" [(visible)]="showAddPopop" [showCloseButton]="false">
    <dx-validation-group #valGroup>
        <form (submit)="save()">
            <div class="row">
                <div class="col-md-12">
                    <div class="dx-fieldset">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="section-label">Server Details</div>
                            </div>
                            <div class="col-sm-6">
                                <div class="dx-field">
                                    <div class="dx-field-value">
                                        <div class="toggle mr-3">
                                            <span class="mr-10">Is SSL</span>
                                            <dx-switch [(value)]="SmtpField.isSsl"></dx-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dx-field">
                                    <div class="dx-field-label">Server<span class="icon-asterisk">*</span>
                                    </div>
                                    <div class="dx-field-value">
                                        <dx-text-box [(value)]="SmtpField.smtpserver">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="Server is required">
                                                </dxi-validation-rule>
                                                <!-- <dxi-validation-rule type="pattern" pattern="^[A-Za-z0-9.]+$" message="Special characters not allowed">                                            
                                            </dxi-validation-rule> -->
                                            </dx-validator>
                                        </dx-text-box>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="dx-field">
                                    <div class="dx-field-label">Port<span class="icon-asterisk">*</span></div>
                                    <div class="dx-field-value">
                                        <dx-text-box [(value)]="SmtpField.port">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="Port is required">
                                                </dxi-validation-rule>
                                                <dxi-validation-rule type="range" [min]="1"
                                                    message="Numerical value greater than 0 should be displayed">
                                                </dxi-validation-rule>
                                                <dxi-validation-rule type="range" [max]="65535"
                                                    message="Numerical value less than 65535 should be displayed">
                                                </dxi-validation-rule>
                                            </dx-validator>
                                        </dx-text-box>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="dx-field">
                                    <div class="dx-field-label">User Name<span class="icon-asterisk">*</span></div>
                                    <div class="dx-field-value">
                                        <dx-text-box [(value)]="SmtpField.userName">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="UserName is required">
                                                </dxi-validation-rule>
                                                <dxi-validation-rule type="stringLength" [min]="2"
                                                    message="UserName must have at least 2 characters.">
                                                </dxi-validation-rule>
                                                <!-- <dxi-validation-rule type="pattern" pattern="^[A-Za-z0-9._- @]+$" message="Only Dot,Dash and Underscore special characters are allowed">                                            
                                            </dxi-validation-rule> -->
                                            </dx-validator>
                                        </dx-text-box>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="dx-field">
                                    <div class="dx-field-label">Password<span class="icon-asterisk">*</span></div>
                                    <div class="dx-field-value">
                                        <dx-text-box [(value)]="SmtpField.password" mode="password" stylingMode="filled"
                                            [(mode)]="passwordMode" class='password-field'>
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="New password is required">
                                                </dxi-validation-rule>
                                                <dxi-validation-rule type="stringLength" [min]="6" [max]="16"
                                                    message="New password must have at least 6 and maximum 16 characters.">
                                                </dxi-validation-rule>
                                            </dx-validator>
                                            <dxi-button name="today" location="after" [options]="passwordButton">
                                            </dxi-button>
                                        </dx-text-box>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="section-label">Mail Details</div>
                            </div>

                            <div class="col-sm-6">
                                <div class="dx-field">
                                    <div class="dx-field-value">
                                        <div class="toggle mr-3">
                                            <span class="mr-10">Is Default</span>
                                            <dx-switch [(value)]="SmtpField.isDefault"></dx-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-sm-6"></div> -->
                            <div class="col-sm-6">
                                <div class="dx-field">
                                    <div class="dx-field-label">Alert email ID<span class="icon-asterisk">*</span></div>
                                    <div class="dx-field-value">
                                        <dx-text-box [(value)]="SmtpField.alertEmailId">
                                            <dx-validator>
                                                <dxi-validation-rule type="required"
                                                    message="Alert email id is required">
                                                </dxi-validation-rule>
                                                <dxi-validation-rule type="email"
                                                    message="Email Id should be in proper format"></dxi-validation-rule>
                                            </dx-validator>
                                        </dx-text-box>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                               <div class="dx-field">
                                    <div class="dx-field-label">From email ID<span class="icon-asterisk">*</span></div>
                                    <div class="dx-field-value">
                                        <dx-text-box [(value)]="SmtpField.fromMailId">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="From MailId is required">
                                                </dxi-validation-rule>
                                                <dxi-validation-rule type="email"
                                                    message="Email Id should be in proper format"></dxi-validation-rule>
                                            </dx-validator>
                                        </dx-text-box>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="dx-field">
                                    <div class="dx-field-label">Display name<span class="icon-asterisk">*</span></div>
                                    <div class="dx-field-value">
                                        <dx-text-box [(value)]="SmtpField.displayName">
                                            <dx-validator>
                                                <dxi-validation-rule type="required" message="Display Name is required">
                                                </dxi-validation-rule>

                                                <dxi-validation-rule type="stringLength" [min]="2"
                                                    message="Display Name must have at least 2 characters.">
                                                </dxi-validation-rule>

                                            </dx-validator>
                                        </dx-text-box>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                 <!-- <div class="dx-field" >
                                    <div class="dx-field-label">File attachment (No.of Files)<span class="icon-asterisk">*</span>
                                    </div>
                                    <div class="dx-field-value">
                                        <dx-text-box  disabled=true  [(value)]="SmtpField.fileAttachLimit">
                                            <dx-validator>
                                                <dxi-validation-rule type="required"
                                                    message="File Attach Limit is required">
                                                </dxi-validation-rule>
                                            </dx-validator>
                                        </dx-text-box>
                                    </div>
                                </div> -->
                            </div>
                            <div class="col-sm-6">
                                <div class="dx-field">
                                    <div class="dx-field-label">Test connection<span class="icon-asterisk">*</span></div>
                                    <div class="d-flex justify-content-start align-items-center">
                                        <dx-button text="Start connecting" (click)='showLoader = true'
                                            (click)='testconnection()' class="btn btn-link p-0 mr-2"></dx-button>
                                        <div class="dx-field-label">{{TextConnection}}</div>
                                        <div *ngIf='showLoader' class="loading-indication">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <!-- <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible" [showIndicator]="true"
                                        [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
                                    </dx-load-panel> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <dxi-item class="custom-popup-footer" dataField="">
                <dx-button class="btn btn-secondary" text="Cancel" (click)="ClearSubtypeModel()">
                </dx-button>
                <dx-button class="btn btn-primary" text="Save" [useSubmitBehavior]="true"></dx-button>
            </dxi-item>
        </form>
    </dx-validation-group>
</dx-popup>

<!-- ADD popup ends -->