<!-- <dx-scroll-view height="100%" class="full-height-scrollable"> -->
<div class="row h-100">
    <div class="col-sm-4">
        <div class="img-container">
            <img src="assets/images/login-bg.png" />
        </div>
    </div>
    <div class="col-sm-8">
        <div class="login-container">
            <div class="login-card-header">
                <img src="assets/images/datamatics.png" />    
            </div>
            <div class="login-card-body">
                <div class="login-card">
                    <div class="client-logo">
                        <img src="assets/images/trucap.png" />    
                    </div>
                    <ng-content></ng-content>
                </div>
            </div>
            <div class="login-card-footer">
                <p>@2019 Datamatics Global Services Limited</p>
                <img src="assets/images/datamatics.png" />
            </div>
        </div>
                
       
    </div>
</div>

<!-- </dx-scroll-view> -->