$primary-color: #6c5cbe;
$primary-color-label: #9181df;
$primary-color-light:#f7f6ff;
$secondary-color:#4a4a4a;
$border-color:#ddd;
$box-border:#d4d4d4;
$table-border: #e5e2f8;
$grey-bg: #f1f1f1;
$shadow-color:#e5e5e5;
$snow-color: #fbfbfb;
$white-color:#fff;
$green-color: #089f08;
$black-color:#000;
$secondary-text:#8a8a8a;
$red-color: #ff2b3f;

$card-shadow:  0 1px 5px 0 rgba(0, 0, 0, 0.1);
$card-border: #f0f0f0;
$card-bg: #fdfdfd;

$placeholder-color: #9b9b9b;

$tr-border:#e9e9e9;
$tr-bg:#f9f9f9;

$low-status:#ff606e;
$medium-status:#f7b500;
$high-status:#089f08;

$ripple-effect: rgba(108, 92, 190, 0.05);

